/* @import url("https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&display=swap"); */

@page {
  size: 231mm 327mm;
  margin: auto;
}

@font-face {
  font-family: "Georgia";
  src: url("./assets/font/georgia.ttf");
}

@font-face {
  font-family: "Jost";
  src: url("./assets/font/jost.ttf") format("truetype");
  font-weight: 400; /* regular */
  font-style: normal;
}
html {
  padding: 0px;
  margin: 5px;
}

body {
  display: block;
  margin: 5px 48px;
  padding: 0;
  font-family: "Georgia", Roboto;
  font-size: 14px;
}

.container {
  max-width: 80%;
}

.intro {
  font-size: 130%;
  line-height: 130%;
  font-weight: bold;
  display: block;
  text-align: center;
}

h1 {
  border: none;
  text-align: center;
  font-weight: bold;
  padding: 0;
  margin: 1rem 0;
}

h2 {
  font-size: 1.2em;
  font-weight: bold;
  border-bottom: 2px solid black !important;
  color: #0d47a1;
  margin: 10px 0 5px 0;
  padding: 0 0 2px 0;
}

h3 {
  font-size: 1em;
  font-weight: bold;
  margin: 5px 0 0 0;
}

p,
ul {
  font-size: 100%;
  margin: 0;
}

ul,
ol {
  padding: 0 0 0 1.5rem;
  margin: 0;
}

li {
  line-height: 130%;
  /* change this for tighter spacing */
  /* default 150% */
}

/* assume images are icons */
/* icons for skills/tools */
.page-break {
  page-break-before: always;
}

.basic-information {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  text-align: center;
}

.separator {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  height: 18px;
  font-size: 16px;
}

.basic-information img {
  width: 20px;
  height: 20px;
  vertical-align: middle;
}

.separator {
  margin: 0 2px;
}

a {
  color: #0d47a1;
  text-decoration: none;
}

code {
  color: black;
}

.time {
  float: right;
  font-size: inherit;
  font-weight: bold;
}

location {
  font-weight: normal;
  font-style: italic;
}

@media print {
  h2 {
    break-after: avoid;
    /* Avoid breaking right after h2 */
  }

  h3 {
    break-after: avoid;
    /* Avoid breaking right after h3 */
  }

  h3 ~ p,
  h3 ~ ul,
  h3 ~ ol,
  h3 ~ blockquote {
    /* Add other tags as necessary */
    break-before: avoid;
    /* Avoid breaking right before these elements if they follow an h3 */
  }

  h3 ~ h3 {
    break-before: auto;
    /* Allow breaks before a new h3, overriding previous rules */
  }
}

.project {
  margin-bottom: 2rem;
  padding: 1rem 1.5rem;
  border: 1px solid #ddd;
  border-radius: 8px;
  background: #fafafa;
}

.project h3 {
  margin-top: 0;
  font-size: 1.3rem;
  color: #222;
}

.project p {
  margin: 0.3rem 0;
}

.project-links {
  font-size: 0.9rem;
  margin-bottom: 0.5rem;
}

.project-tools {
  font-style: italic;
  color: #555;
  margin-bottom: 0.7rem;
}

.project ul {
  margin-top: 0.5rem;
  padding-left: 1.2rem;
}
